<div class="menu">
    <button type="button" id="sidebarCollapse" class="btn btn-menu">
        <i class="fas fa-bars"></i>
    </button>
    <div class="usuario">
        <span id="nombreUsuario"></span>
        <button href="index.html" class="btn btn-link" onclick="cerrarSesion()"><i
                class="fas fa-power-off"></i></button>
    </div>
</div>