<nav id="sidebar">
    <div class="sidebar-header">
        <img src="images/logo.png" alt="Inventario">
        <h3>Inventario</h3>
    </div>

    <ul>
        <a href="home.html">
            <li class="active">
                <i class="fas fa-box-open"></i>
                Productos
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fas fa-user-friends"></i>
                Usuarios
            </li>
        </a>
        <a href="ecommerce.html">
            <li>
                <i class="fas fa-shopping-cart"></i>
                Ecommerce
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fas fa-chart-bar"></i>
                Informes
            </li>
        </a>
    </ul>
</nav>